.container {
  width: 90%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: flex-end;
  color: #85C199;
  /* border: 4px solid red; */
}

.title {

}

.descriptionContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* border: 4px solid red; */
}

.description {
  width: 60%;
}

.skillsContainer {
  width: 36%;
  height: 14rem;
  padding-left: 10px;
  align-self: center;
  border-radius: 10px;
  background-color: #85C199;
  color: black;
  /* border: 4px solid red; */
}

.skillsTitle {

}

.skillsList {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.skills {
  display: flex;
  flex-direction: column;
  gap: 12px;
}