.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-self: flex-end;
  /* border: 4px solid red; */
}

.descriptionContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* border: 4px solid red; */
}

.description {
  /* width: 56%; */
}

.skillsContainer {
  /* width: 43%; */
  color: var(--remark);
  /* background-color: var(--main-light); */
  border-radius: 4px;
  /* box-shadow: 0 10px 10px 0 var(--shadow); */
}

.skillsTitle {
  text-align: center;
  color: var(--remark);
}

.skillsList {
  display: grid;
  grid-template-columns: 40% 40%;
  justify-content: space-around;
}

.stack {
  text-align: center;
  color: var(--aux);
  padding: 10px 4px 10px;
  border: 1px solid var(--remark);
  border-radius: 4px;
}
