.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.skillsContainer {
  color: var(--remark);
  border-radius: 4px;
}

.skillsTitle {
  text-align: center;
  color: var(--remark);
}

.skillsList {
  display: grid;
  grid-template-columns: 40% 40%;
  justify-content: space-around;
}

.stack {
  text-align: center;
  color: var(--aux);
  padding: 10px 4px 10px;
  border: 1px solid var(--remark);
  border-radius: 4px;
}

/* LAPTOP 1024PX VIEW */

@media only screen and (min-width: 1000px) {
  .descriptionContainer {
    flex-direction: row;
  }

  .description {
    width: 55%;
  }

  .skillsContainer {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: small;
  }
}

/* LAPTOP 1300px VIEW */

@media only screen and (min-width: 1300px) {
  .container {
    width: 85%;
  }
  .skillsContainer {
    font-size: medium;
    justify-content: flex-start;
  }
}