.container {
  width: 100%;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  /* border: 2px solid var(--remark); */
}

.jobsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.jobsTitleList {
  /* width: 33%; */
  display: flex;
  flex-direction: row;
  /* gap: 10px; */
}

.job {
  width: 100%;
  display: flex;
  padding: 5px;
  border-radius: 4px;
  font-size: small;
  outline: none;
}

.jobTitle {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* gap: 8px; */
}

.jobCompany {
  color: var(--remark);
  justify-self: flex-end;
}

.jobDescription {
  /* width: 62%; */
  padding: 10px 30px;
  background-color: var(--main-light);
  box-shadow: 0 10px 10px 0px var(--shadow);
  /* border-left: 2px solid var(--remark); */
  border-radius: 4px;
}

.date {
  color: var(--remark);
}

.descriptionListsTitle {
  width: 100%;
  display: flex;
  align-items: center;
  color: var(--remark);
  white-space: nowrap;
}

.descriptionListsTitle::after{
  content: "";
  display: block;
  /* position: relative; */
  /* top: -5px;   */
  width: 100%;
  height: 1px;
  margin-left: 20px;
  background-color: var(--remark);
}

.refLink {
  color: var(--aux-light);
  text-decoration: underline;
}

.refLink:hover {
  color: var(--remark);
}