:root {
  --main: #2B2C26;
  --aux: #85C199;
  --remark: #CE84AD;
}

html,
body {
  background-color: var(--main);
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  /* box-sizing: border-box; */
}
