.container {
  width: 100%;
  height: 3rem;
  /* padding-top: 2rem; */
  /* padding-left: 2rem; */
  /* padding-right: 2rem; */
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  position: fixed;
  /* justify-content: center; */
  justify-content: space-between;
  place-items: center;
  /* background-color: var(--letters); */
  /* box-shadow: 0 10px 10px 0 var(--main); */
}

.homeButton {
  padding-left: 2rem;
}

.buttonContainer {
  width: 24rem;
  height: 6rem;
  display: flex;
  flex-direction: row;
}

.aboutButton {
  width: 33%;
  font-size: large;
  color: var(--letters);
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--aux);  
  cursor: pointer;
}

.aboutButton:hover {
  background-color: var(--aux);
}

.projectsButton {
  width: 33%;
  font-size: large;
  color: var(--letters);
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--remark);
  cursor: pointer;
}

.projectsButton:hover {
  background-color: var(--remark);
}

.experienceButton {
  width: 33%;
  font-size: large;
  color: var(--letters);
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--letters);
  cursor: pointer;
}

.experienceButton:hover {
  color: var(--main);
  background-color: var(--letters);
}