.container {
  width: 8rem;
  height: 40vh;
  padding-top: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 0%;
  justify-content: flex-start;
  align-items: flex-end;
  background-color: var(--main);
  gap: 3rem;
}

.homeButton {
  cursor: pointer;
  border-radius: 100%;
}

.homeButton:hover {
  box-shadow: 0 10px 10px 0 var(--shadow);
}

.buttonContainer {
  width: 8rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 2rem;
}

.menuButton {
  color: var(--aux);
  font-size: large;
  text-transform: capitalize;
}

.menuButton:hover {
  color: var(--remark);
}

.menuButton::first-letter {
  color: var(--remark);
  font-size: larger;
}

/* LAPTOP 1024PX VIEW */

@media only screen and (max-width: 1000px) {
  .container {
    visibility: hidden;
  }
}