.container {
  width: 100%;
  height: 4rem;
  /* padding-top: 2rem; */
  /* padding-left: 2rem; */
  /* padding-right: 2rem; */
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  position: fixed;
  /* justify-content: center; */
  justify-content: space-between;
  place-items: center;
  /* background-color: var(--letters); */
  /* box-shadow: 0 10px 10px 0 var(--main); */
}

.homeButton {
  margin-top: 5rem;
  margin-left: 5rem;
  /* border-radius: 100%; */
}

.homeButton:hover {
  /* box-shadow: 0 10px 10px 0 var(--shadow); */
}

.buttonContainer {
  width: 24rem;
  height: 4rem;
  display: flex;
  flex-direction: row;
  padding-top: 12px;
}

.menuButton {
  width: 33.3%;
  font-size: large;
}

.menuButton:hover {
  color: var(--remark);
  /* border-bottom: 2px solid var(--remark); */
}
