.main {
  display: flex;
  flex-direction: column;
}

.contentBox {
  display: flex;
  flex-direction: column;
  padding: 0 25px;
  gap: 5rem;
}

/* TABLET 600px VIEW */

@media only screen and (min-width: 600px) {
  .contentBox {
    width: 60%;
    align-self: center;
  }
}

/* LAPTOP 1000px VIEW */

@media only screen and (min-width: 1000px) {
  .contentBox {
    gap: 8rem;
  }
}

/* LAPTOP 1300px VIEW */

@media only screen and (min-width: 1300px) {
  .contentBox {
    width: 50%;
  }
}