.container {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  /* border: 2px solid var(--remark); */
}

.project1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.screenshotContainer {
  width: 640px;
  height: 357px;
  background-color: var(--remark);
  border-radius: 10px;
  cursor: pointer;
}

.screenshot {
  width: 640px;
  height: 357px;
  opacity: 40%;
  transition: opacity .3s;
  border-radius: 10px;
}

.screenshot:hover {
  opacity: 100%;
}

.projectInfoContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  place-items: flex-end;
  gap: 20px;
}

.projectTitle {
  color: var(--remark);
}

.projectDescription {
  /* width: 300px; */
  padding: 30px 20px 30px 40px;
  background-color: var(--main-light);
  box-shadow: 0 10px 10px 0px var(--shadow);
  border-radius: 10px;
}

.projectTech {
  display: flex;
  flex-direction: row;
  gap: 16px;
  color: var(--letters);
  font-size: small;
}

.launchButton {
  font-size: x-large;
  transition: transform .1s;
}

.launchButton:hover {
  color: var(--remark);
  transform: scale(1.1);
}