.container {
  width: 70%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  /* border: 2px solid var(--remark); */
}

.title {
  padding-bottom: 1rem;
  border-bottom: 2px solid var(--remark);
}