.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}

.project1 {
  display: flex;
  flex-direction: row;
}

.screenshotContainer {
  display: none;
  width: 550px;
  height: 300px;
  background-color: var(--remark);
  border-radius: 4px;
  cursor: pointer;
  z-index: 1;
}

.screenshot {
  width: 550px;
  height: 300px;
  opacity: 40%;
  transition: opacity .3s;
  border-radius: 4px;
}

.screenshot:hover {
  opacity: 100%;
}

.projectInfoContainer {
  width: 90%;
  display: flex;
  flex-direction: column;
  place-items: flex-end;
  gap: 20px;
}

.projectTitle {
  color: var(--remark);
}

.projectDescription {
  padding: 30px 20px 30px 40px;
  background-color: var(--main-light);
  box-shadow: 0 10px 10px 0px var(--shadow);
  border-radius: 4px;
}

.projectTech {
  display: flex;
  flex-direction: row;
  gap: 16px;
  color: var(--letters);
  font-size: small;
}

.launchButton {
  font-size: x-large;
  transition: transform .1s;
}

.launchButton:hover {
  color: var(--remark);
  transform: scale(1.1);
}

/* LAPTOP 1300px VIEW */

@media only screen and (min-width: 1300px) {
  .container {
    height: 50vh;
  }

  .project1 {
    position: relative;
  }

  .screenshotContainer {
    display: block;
  }

  .projectInfoContainer {
    width: 35%;
    right: 0%;
    position: absolute;
    z-index: 2;
  }

  .projectDescription {
    width: 450px;
    padding: 1rem;
    padding-left: 2rem;
  }
}