.socialMediaButtonContainer {
  position: fixed;
  bottom: 0%;
  padding-top: 1rem;
  padding-bottom: 8rem;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-left: 6px solid var(--letters);
}

.socialMediaButton {
  font-size: x-large;
  color: var(--letters);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.socialMediaButton:hover {
  color: var(--remark);
  border-bottom: 2px solid var(--remark);
  border-radius: 5%;
}