.socialMediaButtonContainer {
  position: fixed;
  bottom: 0%;
  padding-top: 1rem;
  padding-bottom: 8rem;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-left: 6px solid var(--letters);
}

.socialMediaButton {
  font-size: x-large;
  transition: transform .1s;
}

.socialMediaButton:hover {
  color: var(--remark);
  transform: scale(1.1);
}