.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  font-weight: 650;

}

.homeButton {
  margin-top: 110px;
}

.introContainer {
  display: flex;
  flex-direction: column;
  font-size: 37px;
  gap: 10px;
}

.name {
  color: var(--aux);
}

.slogan {
}

.description {
  font-weight: 400;
  font-size: 16px;
}

.moreButton {
  width: 11rem;
  padding: 1.3rem;
  font-size: large;
  color: var(--remark);
  border: 2px solid var(--remark);
  border-radius: 4px;
}

.moreButton:hover {
  color: var(--main);
  background-color: var(--remark);
}

/* TABLET VIEW */

@media only screen and (min-width: 600px) {
  .homeButton {
    margin-top: 250px;
  }
}

/* LAPTOP 1024PX VIEW */

@media only screen and (min-width: 1000px) {

  .homeButton {
    margin-top: 350px;
  }
}

/* LAPTOP 1300px VIEW */

@media only screen and (min-width: 1300px) {
  .homeButton {
    margin-top: 200px;
  }
  
  .introContainer {
    font-size: 60px;
  }

  .description {
    width: 50%;
  }
}